<template>
	<md-list-item @click="onClick">
		<md-avatar class="md-avatar-icon">
			<md-icon>
				favorite
			</md-icon>
		</md-avatar>

		<div class="md-list-text-container">
			<span>R$ {{ donation.value }} – {{ donation.invoice.person.first_name }} {{ donation.invoice.person.last_name }}</span>
			<span>
				{{ getStatus(donation)}} – {{ donation.institution.name }}
			</span>
		</div>

		<md-divider class="md-inset"></md-divider>
	</md-list-item>
</template>

<script>
	export default {
		props: {
			donation: {
				type: Object,
				default: () => {}
			}
		},
		methods: {
			onClick (event) {
				this.$emit('click', this.donation)
			},
			getStatus (donation) {
				let status = 'Pendente';

				donation.invoice.transactions.forEach(transaction => {
					if (transaction.status == 'accepted')
						status = 'Aprovado';
				})

				return status;
			}
		}
	}
</script>
