<template>
	<md-dialog
		ref="dialog"
		class="donation-dialog"
		@open="onOpen"
		@close="onClose"
	>
		<!-- Dialog Content -->
		<md-dialog-title>
			Detalhes da Doação
		</md-dialog-title>

		<md-dialog-content>
			<adm-donation-info :donation="donation" v-if="donation.id">
			</adm-donation-info>

			<adm-invoice-transactions :invoice="donation.invoice" v-if="donation.invoice">
			</adm-invoice-transactions>
		</md-dialog-content>

		<!-- Dialog Actions -->
		<md-dialog-actions>
			<md-button
				class="md-primary"
				@click.native="close"
			>
				Fechar
			</md-button>
		</md-dialog-actions>
	</md-dialog>
</template>

<script>
  	import { store } from '../../core';
	export default {
		components: {
			'adm-donation-info': require('./DonationInfo'),
			'adm-invoice-transactions': require('../invoice/InvoiceTransactions')
		},
		data: () => ({
			donation: {}
		}),
		beforeRouteEnter (to, from, next) {
			store.dispatch('donation/getDonation', {'id' : to.params.id})
			.then(response => {
				next(vm => {
					if (response.status == 200) {
						vm.donation = response.body;
						process.nextTick(() => {
							vm.open();
						});
					}
				});
			});
		},
		methods: {
			close() {
				this.$refs.dialog.close();
			},
			open() {
				this.$refs.dialog.open();
			},
			onOpen () {
				this.$emit('open');
			},
			onClose () {
				this.$emit('close');
			}
		}
	}
</script>

<style lang="sass">
	.donation-dialog{
		.md-dialog{
			width: 700px;
		}
	}
</style>
