<template>
	<mu-container class="media-image-form">
		<md-toolbar slot="header" class="md-large" md-theme="mushi-darker">
			<div class="md-toolbar-container">
				<md-button class="md-icon-button" @click.native="onClose">
					<md-icon>close</md-icon>
				</md-button>

				<span style="flex: 1"></span>

				<md-button class="md-icon-button" @click.native="openDialog">
					<md-icon>delete</md-icon>
				</md-button>

				<md-button class="md-icon-button" @click.native="onConfirm">
					<md-icon>check</md-icon>
				</md-button>
			</div>

			<div class="md-toolbar-container">
				<h3 class="media-image-form__title md-subheading" style="flex: 1">
					{{ value.file_name }}
				</h3>
			</div>
		</md-toolbar>

		<template class="media-image-form__body" slot="body">
			<mu-thumbnail :src="value.src" ratio="16:9">
			</mu-thumbnail>

			<div class="media-image-form__main">
				<adm-media-image-fieldset v-model="value">
				</adm-media-image-fieldset>

				<adm-media-image-info v-model="value">
				</adm-media-image-info>
			</div>

			<!-- Delete Dialog -->
			<md-dialog ref="dialog">
				<!-- Dialog Content -->
				<md-dialog-title>
					Excluir Imagem
				</md-dialog-title>

				<md-dialog-content>
					Tem certeza que deseja excluir a imagem <b>{{ value.name }}</b>?
				</md-dialog-content>

				<!-- Dialog Actions -->
				<md-dialog-actions>
					<md-button
						class="md-primary"
						@click.native="closeDialog()"
					>
						Cancelar
					</md-button>

					<md-button
						class="md-warn"
						@click.native="closeDialog(); onDelete($event)"
					>
						Confirmar
					</md-button>
				</md-dialog-actions>
			</md-dialog>

		</template>
	</mu-container>
</template>

<script>
	export default {
		components: {
			'adm-media-image-fieldset': require('./MediaImageFieldset'),
			'adm-media-image-info': require('./MediaImageInfo')
		},
		props: {
			value: {
				type: Object,
				default: () => null
			}
		},
		methods: {
			openDialog () {
				this.$refs.dialog.open();
			},
			closeDialog () {
				this.$refs.dialog.close();
			},
			onClose (event) {
				this.$emit('close', this.value);
			},
			onConfirm (event) {
				this.$emit('confirm', this.value);
			},
			onDelete (event) {
				this.$emit('delete', this.value);
			}
		}
	}
</script>

<style lang="sass">
	.media-image-form{
		&__main{
			padding: 20px;
		}
		&__title{
			padding: 0 15px;
		}
		.mu-container{
			&__body{
				display: block;
			}
		}
	}
</style>
