<template>
	<mu-container>
		<md-toolbar slot="header" class="user__header">
			<md-button @click.native="toggleSidenav" class="md-icon-button">
				<md-icon>menu</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				Usuários
			</h2>

			<adm-search-input @change="onSearchChange">
			</adm-search-input>
		</md-toolbar>

		<md-list slot="body">
			<adm-user-item
				v-for="user in users"
				:user="user"
				:key="user.id"
				@click="editUser"
				@delete="deleteUser"
			>
			</adm-user-item>
		</md-list>

		<div slot="footer" class="user__footer">
			<md-button @click.native="add" class="md-fab">
				<md-icon>add</md-icon>
			</md-button>
		</div>
	</mu-container>
</template>

<script>
	import { mapMutations } from 'vuex';
	import { store } from '../../core';
	import UserItem from './UserItem';

	export default {
		components: {
			'adm-user-item': UserItem
		},
		data () {
			return {
				users: [],
			}
		},
		/*
		 * Retrieve data before render component
		 */
		beforeRouteEnter (to, from, next) {
			store.dispatch('user/getUsers')
			.then(response => {
				next(vm => {
					if (response.status == 200) {
						vm.users.push(...response.body);
					}
				})
			});
		},
		methods: {
			...mapMutations({
				toggleSidenav: 'sidenav/toggle'
			}),

			editUser (user) {
				this.$router.push(`/users/edit/${user._id}`);
			},

			deleteUser (user) {
				this.$store.dispatch('user/deleteUser', us_er)
					.then(response => {
						let index = this.users.indexOf(user)

						if (index != -1)
							this.users.splice(index, 1);

						this.$logger.success(`Usuário ${user.profile.email} excluído com sucesso!`);
					});
			},

			add () {
				this.$router.push('/users/add');
			},

			onSearchChange (event) {
				store.dispatch('user/searchUsers', {
					q: event
				})
					.then(response => {
						this.users = [];
						this.users.push(...response.body);
					});
			}
		}
	}
</script>
