<template>
	<mu-container>
		<md-toolbar slot="header">
			<md-button @click.native="previous" class="md-icon-button">
				<md-icon>arrow_back</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				{{ (action == 'add') ?
					'Adicionar Escopo' :
					'Editar Escopo'
				}}
			</h2>

			<md-button @click.native="submit(success)" class="md-icon-button">
				<md-icon>check</md-icon>
			</md-button>
		</md-toolbar>

		<form
			ref="form"
			class="scope__form"
			slot="body"
		>
			<md-layout md-gutter="16">
				<md-layout
					class="scope__main"
					md-flex-small="100"
					md-flex="66"
				>
					<adm-oauth-scope-fieldset
						v-model="scope"
						:action="action"
					>
					</adm-oauth-scope-fieldset>
				</md-layout>

				<md-layout
					class="scope__aside"
					md-flex-small="100"
					md-flex="33"
				>
				</md-layout>
			</md-layout>
		</form>
	</mu-container>
</template>

<script>
	import { router, store, validateParent } from '../../../core';
	import OAuthScopeFieldset from './OAuthScopeFieldset';
	import OAuthScopePicker from '../oauth-scope/OAuthScopePicker';

	export default {
		components: {
			'adm-oauth-scope-fieldset': OAuthScopeFieldset,
			'adm-oauth-scope-picker': OAuthScopePicker
		},
		mixins: [validateParent],
		data () {
			return {
				action: 'add',
				scope: {
					id: '',
					name: '',
					secret: '',
					scopes: []
				},
				scopes: []
			}
		},
		beforeRouteEnter(to, from, next) {
			// Get the scope if router has id parameter
			if (to.params.id) {
				store.dispatch('oauth/scope/getScope', { id: to.params.id})
					.then(response => {
						next(vm => {
							vm.action = 'edit';
							vm.scope = response.data;
						});
					});
			} else {
				// Otherwise continue
				next();
			}
		},
		methods: {
			success () {
				this.$store.dispatch(`oauth/scope/${this.action == 'add' ? 'addScope' : 'editScope'}`, this.scope)
					.then(response => {
						this.$logger.success(`
							${this.scope.id}
							${this.action == 'add' ? 'adicionado' : 'editado'}
							com sucesso!
						`);
						this.previous();
					});
			},
			previous () {
				router.push('/oauth/scopes');
			},
			onScopesChange (scopes) {
				this.scope.scopes = scopes;
			}
		}
	}
</script>

<style lang="sass" scoped>
	.scope{
		&__form{
			padding: 16px;
		}
		&__main,
		&__aside{
			flex-flow: column wrap;
		}
	}
</style>
