<template>
	<div class="category-select">
		<span class="md-subheading">
			Categorias
		</span>
		<md-checkbox
			v-for="category in categories"
			:value="value.indexOf(category.id) != -1"
			:key="category.id"
			@change="onChange(category.id, $event)"
		>
			{{ category.name }}
		</md-checkbox>
	</div>
</template>

<script>
	export default {
		props: {
			value: {
				type: Array,
				default: () => []
			},
			categories: {
				type: Array,
				default: () => []
			}
		},
		computed: {
			selected () {
				return this.value;
			}
		},
		methods: {
			onChange (category, value) {
				if (value) {
					this.selected.push(category)
				} else {
					let index = this.selected.indexOf(category);

					if (index != -1)
						this.selected.splice(index, 1);
				}

				this.$emit('input', this.selected);
			}
		}
	}
</script>

<style lang="sass">
.category-select{
	margin-bottom: 30px;
	.md-subheading{
		margin-bottom: 10px;
		display: block;
	}
	.md-checkbox{
		width: 100%;
		margin: 4px 0;
	}
}
</style>
