<template>
	<md-layout md-gutter="16">
		<md-layout md-flex="100" class="md-subheading">
			Evento
		</md-layout>

		<!-- Title -->
		<md-layout md-flex="50" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('title')}"
			>
				<label>
					Título
				</label>
				<md-input
					data-vv-name="title"
					v-model="value.title"
					v-validate="'required|min:4'"
					@change="onTitleChange"
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('title')"
				>
					{{ errors.first('title') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Slug -->
		<md-layout md-flex="50" md-flex-small="100">
			<mu-input-toggle v-model="slugDisabled">
				<md-input-container
					:class="{'md-input-invalid': errors.has('slug')}"
				>
					<label>
						Slug
					</label>
					<md-input
						data-vv-name="slug"
						v-model="value.slug"
						v-validate="'required|min:4'"
						:disabled="slugDisabled"
					>
					</md-input>

					<span
						class="md-error"
						v-show="errors.has('slug')"
					>
						{{ errors.first('slug') }}
					</span>
				</md-input-container>
			</mu-input-toggle>
		</md-layout>

		<!-- Date -->
		<md-layout md-flex="50" md-flex-small="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('date')}"
			>
				<label>
					Data
				</label>
				<md-input
					data-vv-name="date"
					v-model="value.date"
					v-validate="'required'"
					v-date-picker
				>
				</md-input>

				<span
					class="md-error"
					v-show="errors.has('date')"
				>
					{{ errors.first('date') }}
				</span>
			</md-input-container>
		</md-layout>

		<!-- Institution -->
		<md-layout md-flex="50" md-flex-small="100">
			<md-input-container>
				<label>Instituição</label>
				<md-select v-model="value.institution_id">
					<md-option :value="institution.id" :key="institution.id" v-for="institution in institutions">
						{{ institution.name }}
					</md-option>
				</md-select>
			</md-input-container>
		</md-layout>

		<!-- Content -->
		<md-layout md-flex="100">
			<mu-editor label="Conteúdo" v-model="value.content">
			</mu-editor>
		</md-layout>

		<!-- Excerpt -->
		<md-layout md-flex="100">
			<md-input-container
				:class="{'md-input-invalid': errors.has('excerpt')}"
			>
				<label>
					Resumo
				</label>
				<md-textarea
					data-vv-name="excerpt"
					v-model="value.excerpt"
					v-validate="'required|min:4'"
				>
				</md-textarea>

				<span
					class="md-error"
					v-show="errors.has('excerpt')"
				>
					{{ errors.first('excerpt') }}
				</span>
			</md-input-container>
		</md-layout>
	</md-layout>
</template>

<script>
	import { validateChild } from '../../core';

	export default {
		mixins: [validateChild],
		props: {
			value: {
				type: Object,
				default: () => {}
			},
			institutions: {
				type: Array,
				default: () => []
			}
		},
		data: () => ({
			slugDisabled: false
		}),
		methods: {
			onTitleChange(event) {
				if (!this.slugDisabled)
					this.value.slug = this.$options.filters['mu-slugify'](event);
			}
		}
	}
</script>
