<template>
	<mu-container>
		<md-toolbar slot="header" class="event__header">
			<md-button @click.native="toggleSidenav" class="md-icon-button">
				<md-icon>menu</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				Eventos
			</h2>

			<adm-search-input>
			</adm-search-input>
		</md-toolbar>

		<md-list slot="body">
			<adm-event-item
				v-for="event in events"
				:event="event"
				:key="event.id"
				@click="editEvent"
				@delete="deleteEvent"
			>
			</adm-event-item>
		</md-list>

		<div slot="footer" class="event__footer">
			<md-button @click="addEvent" class="md-fab">
				<md-icon>add</md-icon>
			</md-button>
		</div>
	</mu-container>
</template>

<script>
	import { mapMutations } from 'vuex';
	import { store } from '../../core';

	export default {
		components: {
			'adm-event-item': require('./EventItem')
		},
		data () {
			return {
				events: [],
				next_event_url: null
			}
		},
		/*
		 * Retrieve data before render component
		 */
		beforeRouteEnter (to, from, next) {
			store.dispatch('event/getEvents')
			.then(response => {
				next(vm => {
					if (response.status == 200) {
						vm.events.push(...response.body.data);
						vm.next = response.body.next_event_url;
					}
				})
			});
		},
		methods: {
			...mapMutations({
				toggleSidenav: 'sidenav/toggle'
			}),
			editEvent (event) {
				this.$router.push(`/events/edit/${event.id}`);
			},
			deleteEvent (event) {
				this.$store.dispatch('event/deleteEvent', event)
					.then(response => {
						let index = this.events.indexOf(event)

						if (index != -1)
							this.events.splice(index, 1);

						this.$logger.success(`Evento ${event.title} excluído com sucesso!`);
					});
			},
			addEvent () {
				this.$router.push('/events/add');
			}
		}
	}
</script>
