<template>
	<mu-container>
		<md-toolbar slot="header" class="partner__header">
			<md-button @click.native="toggleSidenav" class="md-icon-button">
				<md-icon>menu</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				Parceiros
			</h2>

			<adm-search-input>
			</adm-search-input>
		</md-toolbar>

		<md-list slot="body">
			<adm-partner-item
				v-for="partner in partners"
				:partner="partner"
				:key="partner.id"
				@click="editPartner"
				@delete="deletePartner"
			>
			</adm-partner-item>
		</md-list>

		<div slot="footer" class="partner__footer">
			<md-button @click.native="add" class="md-fab">
				<md-icon>add</md-icon>
			</md-button>
		</div>
	</mu-container>
</template>

<script>
	import { mapMutations } from 'vuex';
	import { store } from '../../core';

	export default {
		components: {
			'adm-partner-item': require('./PartnerItem')
		},
		data () {
			return {
				partners: [],
				next_partner_url: null
			}
		},
		/*
		 * Retrieve data before render component
		 */
		beforeRouteEnter (to, from, next) {
			store.dispatch('partner/getPartners')
			.then(response => {
				next(vm => {
					if (response.status == 200) {
						vm.partners.push(...response.body.data);
						vm.next = response.body.next_partner_url;
					}
				})
			});
		},
		methods: {
			...mapMutations({
				toggleSidenav: 'sidenav/toggle'
			}),
			editPartner (partner) {
				this.$router.push(`/partners/edit/${partner.id}`);
			},
			deletePartner (partner) {

				this.$store.dispatch('partner/deletePartner', partner)
					.then(response => {
						let index = this.partners.indexOf(partner)

						if (index != -1)
							this.partners.splice(index, 1);

						this.$logger.success(`Parceiro ${partner.name} excluído com sucesso!`);
					});
			},
			add () {
				this.$router.push('/partners/add');
			}
		}
	}
</script>
