<template>
	<md-list-item @click="onClick">
		<md-avatar class="md-avatar-icon">
			<md-icon>
				subject
			</md-icon>
		</md-avatar>

		<div class="md-list-text-container">
			<span>{{ post.title }}</span>
			<span>{{ post.excerpt }}</span>
		</div>

		<md-button class="md-icon-button md-list-action">
			<md-icon @click.native.stop="openDialog">
				delete
			</md-icon>
		</md-button>

		<md-divider class="md-inset"></md-divider>

		<!-- Delete Dialog -->
		<md-dialog ref="dialog">
			<!-- Dialog Content -->
			<md-dialog-title>
				Excluir Página
			</md-dialog-title>

			<md-dialog-content>
				Tem certeza que deseja excluir a postagem <b>{{ post.title }}</b>?
			</md-dialog-content>

			<!-- Dialog Actions -->
			<md-dialog-actions>
				<md-button
					class="md-primary"
					@click.native="closeDialog()"
				>
					Cancel
				</md-button>

				<md-button
					class="md-warn"
					@click.native="closeDialog(); onDelete($event)"
				>
					Confirmar
				</md-button>
			</md-dialog-actions>
		</md-dialog>
	</md-list-item>
</template>

<script>
	export default {
		props: {
			post: {
				type: Object,
				default: () => {}
			}
		},
		methods: {
			openDialog() {
				this.$refs.dialog.open();
			},
			closeDialog() {
				this.$refs.dialog.close();
			},
			onClick (event) {
				this.$emit('click', this.post)
			},
			onDelete (event) {
				this.$emit('delete', this.post);
			}
		}
	}
</script>
