<template>
	<mu-container>
		<md-toolbar slot="header">
			<md-button @click.native="previous" class="md-icon-button">
				<md-icon>arrow_back</md-icon>
			</md-button>

			<h2 class="md-title" style="flex: 1">
				{{ (action == 'add') ?
					'Adicionar Post' :
					'Editar Post'
				}}
			</h2>

			<md-button @click.native="submit(success)" class="md-icon-button">
				<md-icon>check</md-icon>
			</md-button>
		</md-toolbar>

		<form
			ref="form"
			class="post__form"
			slot="body"
		>
			<md-layout md-gutter="16">
				<md-layout
					class="post__main"
					md-flex-small="100"
					md-flex="66"
				>
					<adm-post-fieldset v-model="post">
					</adm-post-fieldset>

					<adm-media-gallery
						v-model="gallery"
						@change="onGalleryAdd"
					>
					</adm-media-gallery>
				</md-layout>

				<md-layout
					class="post__aside"
					md-flex-small="100"
					md-flex="33"
				>
					<adm-model-status v-model="post">
					</adm-model-status>

					<adm-category-select v-model="post.categories" :categories="categories">
					</adm-category-select>

					<adm-media-thumbnail
						title="Imagem destacada"
						v-model="post.thumbnail"
						@input="onThumbnailChange"
					>
					</adm-media-thumbnail>
				</md-layout>
			</md-layout>
		</form>
	</mu-container>
</template>

<script>
	import { router, store, validateParent } from '../../core';

	export default {
		components: {
			'adm-post-fieldset': require('./PostFieldset'),
			'adm-category-select': require('../category/CategorySelect'),
			'adm-media-thumbnail': require('../media/MediaThumbnail'),
			'adm-media-gallery': require('../media/MediaGallery')
		},
		mixins: [validateParent],
		data () {
			return {
				action: 'add',
				post: {
					title: '',
					slug: '',
					excerpt: '',
					content: {},
					gallery: [],
					categories: [],
					thumbnail: null,
					created_at: '',
					updated_at: '',
					deleted_at: ''
				},
				gallery: [],
				categories: []
			}
		},
		beforeRouteEnter(to, from, next) {
			if (to.params.id) {
				Promise.all([
					store.dispatch('post/getPost', { id: to.params.id}),
					store.dispatch('category/getCategories'),
				])
					.then(([post, categories]) => {
						next(vm => {
							vm.action = 'edit';
							vm.post = post.data;
							vm.categories = categories.body;
							vm.post.categories = vm.post.categories.map(category => category.id);

							vm.post.gallery.forEach(media => {
								vm.gallery.push({
									media_id: media.id,
									src: media.src,
									caption: media.caption,
									order: media.order
								});
							});

							vm.gallery = vm.gallery.sort((a, b) => {
								if (a.order > b.order)
								return 1;

								if (a.order < b.order)
								return -1;

								return 0;
							});
						});
					});
			} else {
				store.dispatch('category/getCategories')
					.then(response => {
						next(vm => {
							vm.categories = response.body.data;
						});
					});
			}
		},
		methods: {
			success () {
				this.$store.dispatch(`post/${this.action}Post`, {
					post: this.post,
					gallery: this.gallery,
					categories: this.post.categories
				})
					.then(response => {
						this.$logger.success(`
							${this.post.title}
							${this.action == 'add' ? 'adicionada' : 'editada'}
							com sucesso!
						`);
						this.previous();
					});
			},
			previous () {
				this.$router.push('/posts');
			},
			onThumbnailChange (media) {
				this.post.thumbnail_id = media ? media.id : null;
			},
			onGalleryAdd (medias) {
				medias.forEach(media => {
					this.gallery.push({
						media_id: media.id,
						caption: '',
						src: media.src
					});
				})
			}
		}
	}
</script>

<style lang="sass" scoped>
	.post{
		&__form{
			padding: 16px;
		}
		&__main,
		&__aside{
			display: block;
		}
	}
</style>
