<template>
	<mu-intro :style="{'background-image': 'url(/img/delete/mountain-range.jpg)'}">
		<transition name="scale-fade">
			<router-view></router-view>
		</transition>
	</mu-intro>
</template>

<script>
	import { store } from '../../core';

	export default {
		beforeRouteEnter(to, from, next) {
			var access_token = localStorage.getItem('access_token'),
				expires_at = localStorage.getItem('expires_at');

			// Get a new token if expired
			if (!access_token || new Date(parseInt(expires_at)) < new Date()) {
				store.dispatch('oauth/getToken', {
					grant_type: 'client_credentials',
					callback: () => next()
				});
			} else {
				next();
			}
		}
	}
</script>
